
body{
    margin: 0px;
    background: #178ec6;
    color: #FFF;
}
.feature{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.feature>div{
    text-align: center;
}
h1, a{
    text-align: center;
    font-family: sans-serif;
}
h1{
    font-size: 122px;
}

.cta-card{
    position: fixed;
    top: 150px;
    right: 50px;
    background: #FF0;
    color: #003;
    text-align: left;
    list-style: none;
    font-size: 24px;
    font-weight: bold;
    line-height: 3em;
    padding: 16px;
    border-radius: 5px;
}